@font-face {
  font-family: "PoppinsBold";
  src: url(../../client/public/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "PoppinsMedium";
  src: url(../../client/public/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url(../../client/public/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(../../client/public/Poppins/Poppins-Regular.ttf);
}

body {
  font-family: "PoppinsSemiBold", Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background-color: rgba(0, 0, 0, 0.025);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PoppinsBold", Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}
button {
  padding: 3px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

button:disabled {
  opacity: 0.5;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

button:active {
  transform: scale(0.97);
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
}

button.darkVariant {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
}

button.darkVariant:disabled {
  opacity: 0.5;
}

button.darkVariant:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

button.darkVariant:active {
  transform: scale(0.97);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
}

input,
textarea {
  font-size: 18px;
  resize: none;
  color: #333;
  padding-left: 10px;
  border: none;
  background-color: white;
  z-index: 1;
}

select {
  border: none;
  border-radius: 5px;
}

.add-class-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(220, 138, 138);
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.add-unit-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(220, 176, 138);
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.edit-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(220, 209, 138);
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.preview-projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(150, 220, 138);
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.preview-units {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(98, 207, 193, 0.796);
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.student-names p:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  padding: 12px 12px;
}
.color-btns-wrapper button {
  padding: 16px 24px;
  scale: 1;
  border-radius: 8px;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s all !important;
}

.color-btns-wrapper button.active {
  border: 2.5px dashed #333;
  scale: 1.1;
}

.login-failed,
.signup-failed {
  margin-top: 15px;
}

.main-table {
  overflow: scroll;
}

tr:hover {
  background-color: rgba(155, 155, 155, 0.25);
}

.table-unit-title {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.add-student {
  cursor: pointer;
  user-select: none;
  width: 100%;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentSearchInput {
  outline: none;
}
.studentSearchInput::placeholder {
  color: #ffffff;
}

.gradeWeight {
  user-select: none;
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1.5px solid #333;
  padding: 2px 15px;
  border-radius: 10px;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%) translateY(-100%);
  backdrop-filter: blur(6px);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in-out;
}

.gradeLetter:hover .gradeWeight {
  opacity: 1;
  transition: 0.2s all ease-in-out;
}

.deleteBtn:hover {
  background-color: #ff6d6d;
}

.pdfBtn:hover {
  background-color: #ffc979;
}

.addBtn:hover {
  background-color: #79baff;
}

.deleteStudent {
  filter: invert(100%);
}

.downloadBtn,
.finalHead,
.studentHead,
.decimalBtn {
  filter: brightness(1);
  transform: scale(1);
}

.downloadBtn:hover,
.finalHead:hover,
.studentHead:hover,
.decimalBtn:hover {
  filter: brightness(0.75);
  transform: scale(0.98);
}

.addClassBtn {
  transform: scale(1);
}

.addClassBtn:hover {
  transform: scale(0.95);
}

.grades {
  font-family: "PoppinsMedium", Verdana, Geneva, Tahoma, sans-serif;
}

.pdfViewer {
  height: 600px;
  width: 600px;
}

.pdfViewer .react-pdf__Document .react-pdf__toolbar {
  display: none;
}

@media screen and (max-width: 700px) {
  .pdfViewer {
    width: 70vw;
  }
}

.singleRow {
  background: #f1c40f;
  height: 100vh; /* Set the height to 100vh to cover the entire viewport height */
  width: 100%;
  animation: fade 6s infinite;
  animation-direction: alternate;
}

body.active {
  background: #f1c40f;
  animation: fade 6s infinite;
  animation-direction: alternate;
}

@keyframes fade {
  from {
    background: #f1c40f;
  }
  to {
    background: #d35400;
  }
}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.grid-item {
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 5px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.grid-item p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

.grid-item:hover img {
  filter: grayscale(0);
}

img {
  width: 100%;
  filter: grayscale(100%);

  transition: all 0.15s ease-in-out;
}

.closeBirthday {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  filter: invert(100%);
  cursor: pointer;
  z-index: 100;
}

.projects-container {
  position: relative;
  background-color: rgb(118, 198, 104);
  padding: 10px 0;
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.2);
}

.previewGradeWeight {
  display: none;
}
.previewGradeLabel {
  display: unset;
}

.previewWeightsContainer {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  width: 425px;
  justify-content: space-between;
}

.projects-container-input {
  width: 285px;
}

.projects-inner-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.projects-inner-container-letter,
.review-class-project-letter {
  display: none;
}
.projects-inner-container-label,
.review-class-project-label {
  display: flex;
}

.review-classes-project-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

@media screen and (max-width: 700px) {
  .grid-item img {
    filter: grayscale(0);
  }
  .birthday-header {
    font-size: 27.5px;
    top: 20px !important;
    left: 20px !important;
  }
}

@media screen and (max-width: 585px) {
  .previewGradeWeight {
    display: unset;
  }
  .previewGradeLabel {
    display: none;
  }

  .previewWeightsContainer {
    width: 75vw;
    max-width: 300px;
  }

  .projects-inner-container {
    width: 100%;
  }
  .projects-inner-item {
    width: 20%;
  }

  .projects-inner-container-letter,
  .review-class-project-letter {
    display: flex;
  }

  .projects-inner-container-label,
  .review-class-project-label {
    display: none;
  }

  input {
    width: 100%;
  }
  input[type="date"] {
    width: 150px;
  }
  .review-classes-project-inner-container {
    width: 100%;
  }
  .preview-project-inner-container {
    width: 75vw;
  }
}

@media screen and (max-width: 468px) {
  .birthday-header {
    font-size: 20px;
  }

  .closeBirthday {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .add-grade-weight-inner-container {
    width: 210px;
  }

  .projects-container {
    width: 75vw;
  }

  .projects-inner-item {
    width: 220px;
  }

  .projects-container-input {
    width: 100%;
  }
}
