body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background-color: rgba(0, 0, 0, 0.025);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-class-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 168, 230);
  padding: 30px;
}

.add-unit-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(168, 247, 247);
  padding: 30px;
}

.add-project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  padding: 30px;
}

.add-criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: greenyellow;
  padding: 30px;
}

.preview-criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  padding: 30px;
}

.add-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: fuchsia;
  padding: 30px;
}

.preview-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightsalmon;
  padding: 30px;
}
.adding-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  padding: 30px;
}

.preview-units {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkseagreen;
  padding: 30px;
}

.generate-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 132, 92);
  padding: 30px;
}

.student-names p:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
}
.color-btns-wrapper button {
  padding: 16px 24px;
  scale: 1;
  border-radius: 8px;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s all !important;
}

.color-btns-wrapper button.active {
  border: 2.5px dashed #333;
  scale: 1.1;
}

.login-failed,
.signup-failed {
  margin-top: 15px;
}

.main-table {
  overflow: scroll;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.table-unit-title {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.add-student {
  cursor: pointer;
  user-select: none;
  width: 100%;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentSearchInput {
  outline: none;
}
.studentSearchInput::placeholder {
  color: #ffffff;
}

.gradeWeight {
  user-select: none;
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 20px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in-out;
}

.gradeLetter:hover .gradeWeight {
  opacity: 1;
  transition: 0.2s all ease-in-out;
}
