@font-face {
  font-family: "PoppinsBold";
  src: url(../../client/public/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "PoppinsMedium";
  src: url(../../client/public/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url(../../client/public/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(../../client/public/Poppins/Poppins-Regular.ttf);
}

body {
  font-family: "PoppinsSemiBold", Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background-color: rgba(0, 0, 0, 0.025);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PoppinsBold", Verdana, Geneva, Tahoma, sans-serif;
}

.add-class-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 168, 230);
  padding: 30px;
}

.add-unit-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(168, 247, 247);
  padding: 30px;
}

.add-project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  padding: 30px;
}

.add-criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: greenyellow;
  padding: 30px;
}

.preview-criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  padding: 30px;
}

.add-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: fuchsia;
  padding: 30px;
}

.preview-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightsalmon;
  padding: 30px;
}
.adding-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  padding: 30px;
}

.preview-units {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkseagreen;
  padding: 30px;
}

.generate-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 132, 92);
  padding: 30px;
}

.student-names p:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
}
.color-btns-wrapper button {
  padding: 16px 24px;
  scale: 1;
  border-radius: 8px;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s all !important;
}

.color-btns-wrapper button.active {
  border: 2.5px dashed #333;
  scale: 1.1;
}

.login-failed,
.signup-failed {
  margin-top: 15px;
}

.main-table {
  overflow: scroll;
}

tr:hover {
  background-color: rgba(155, 155, 155, 0.25);
}

.table-unit-title {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.add-student {
  cursor: pointer;
  user-select: none;
  width: 100%;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentSearchInput {
  outline: none;
}
.studentSearchInput::placeholder {
  color: #ffffff;
}

.gradeWeight {
  user-select: none;
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1.5px solid #333;
  padding: 2px 15px;
  border-radius: 10px;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%) translateY(-100%);
  backdrop-filter: blur(6px);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in-out;
}

.gradeLetter:hover .gradeWeight {
  opacity: 1;
  transition: 0.2s all ease-in-out;
}

.deleteBtn:hover {
  background-color: #ff6d6d;
}

.pdfBtn:hover {
  background-color: #ffc979;
}

.addBtn:hover {
  background-color: #79baff;
}

.deleteStudent {
  filter: invert(100%);
}

.downloadBtn,
.finalHead,
.studentHead,
.decimalBtn {
  filter: brightness(1);
  transform: scale(1);
}

.downloadBtn:hover,
.finalHead:hover,
.studentHead:hover,
.decimalBtn:hover {
  filter: brightness(0.75);
  transform: scale(0.98);
}

.addClassBtn {
  transform: scale(1);
}

.addClassBtn:hover {
  transform: scale(0.95);
}

.grades {
  font-family: "PoppinsMedium", Verdana, Geneva, Tahoma, sans-serif;
}

.pdfViewer {
  height: 600px;
  width: 600px;
}

.pdfViewer .react-pdf__Document .react-pdf__toolbar {
  display: none;
}

@media screen and (max-width: 700px) {
  .pdfViewer {
    width: 70vw;
  }
}

.singleRow {
  background: #f1c40f;
  height: 100vh; /* Set the height to 100vh to cover the entire viewport height */
  width: 100%;
  animation: fade 6s infinite;
  animation-direction: alternate;
}

body.active {
  background: #f1c40f;
  animation: fade 6s infinite;
  animation-direction: alternate;
}

@keyframes fade {
  from {
    background: #f1c40f;
  }
  to {
    background: #d35400;
  }
}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.grid-item {
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 5px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.grid-item p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

.grid-item:hover img {
  filter: grayscale(0);
}

img {
  width: 100%;
  filter: grayscale(100%);

  transition: all 0.15s ease-in-out;
}

.closeBirthday {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  filter: invert(100%);
  cursor: pointer;
  z-index: 100;
}

@media screen and (max-width: 700px) {
  .grid-item img {
    filter: grayscale(0);
  }
  .birthday-header {
    font-size: 27.5px;
    top: 20px !important;
    left: 20px !important;
  }
}

@media screen and (max-width: 468px) {
  .birthday-header {
    font-size: 20px;
  }

  .closeBirthday {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}
